<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhdw.ergoholics.brainphaser">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BrainPhaserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.main.ProxyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ChallengeImport.ImportChallengeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.bpc" />
                <data android:pathPattern=".*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.bpc" />
                <data android:pathPattern=".*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.bpc"/>
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserCreation.CreateUserActivity" />
        <activity android:name=".activities.UserSelection.UserSelectionActivity" />
        <activity android:name=".activities.CategorySelect.SelectCategoryActivity" />
        <activity android:name=".activities.Challenge.ChallengeActivity" />
        <activity android:name=".activities.main.MainActivity">
</activity>
    </application>

</manifest>
